<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>巨阙围光亮_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>巨阙围光亮_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_巨阙围光亮.png</string>
            <key>size</key>
            <string>{1560,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edf08b764fdfe9ef9cc47f3fa398ed61:055abaa1154120071f55c5aa6b5f7dd3:b6beed71aad86ff86b72d88855eb767d$</string>
            <key>textureFileName</key>
            <string>drame_resource_巨阙围光亮.png</string>
        </dict>
    </dict>
</plist>
