<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>精气进序列_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,92},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,92},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,92},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,92},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,92},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,92},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>精气进序列_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_精气进序列.png</string>
            <key>size</key>
            <string>{1792,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7a561975ec9eed9a160a9bdf98cfe71:b180d4393fc7f8443d0bc8e88f3de0e0:db53269a4ed8d4fc038f5ddedb70bbba$</string>
            <key>textureFileName</key>
            <string>drame_resource_精气进序列.png</string>
        </dict>
    </dict>
</plist>
