<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>盾环序列_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>盾环序列_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_盾环序列.png</string>
            <key>size</key>
            <string>{1620,135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bc94b5c058d97f9e934a255cec982c8:da306215b85ff4d21fc0ececf87b38c2:da766e4300677763bc90ff15e4ea92bc$</string>
            <key>textureFileName</key>
            <string>drame_resource_盾环序列.png</string>
        </dict>
    </dict>
</plist>
