<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>能量充满2种_R_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>能量充满2种_R_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_能量充满2种_R.png</string>
            <key>size</key>
            <string>{1120,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a9e8129287620482a81761a1c776b75:760f03c48c42bf6efa072e8142adda42:b5f5817317c6c6346e94aa9ad475f44e$</string>
            <key>textureFileName</key>
            <string>drame_resource_能量充满2种_R.png</string>
        </dict>
    </dict>
</plist>
