<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>调皮1-2-3-4-5-4-5-4-5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>调皮1-2-3-4-5-4-5-4-5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>调皮1-2-3-4-5-4-5-4-5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>调皮1-2-3-4-5-4-5-4-5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>调皮1-2-3-4-5-4-5-4-5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_调皮1-2-3-4-5-4-5-4-5.png</string>
            <key>size</key>
            <string>{240,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b9d49a008ecdfe71ec363f436d4e3f:8014610201d1668a677e250f604ba181:17d63f9603b21037e9718f9ca9fe1375$</string>
            <key>textureFileName</key>
            <string>drame_resource_调皮1-2-3-4-5-4-5-4-5.png</string>
        </dict>
    </dict>
</plist>
