<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>瓣散_r小_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1705},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1550},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1705},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1550},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1395},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1395},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1240},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1085},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1085},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,930},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,930},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,775},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,775},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,620},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,465},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,310},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,155},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>瓣散_r小_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,155}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_瓣散_r小.png</string>
            <key>size</key>
            <string>{220,1860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f27aeed3b067dfe4b7a3afdeecc8081b:13b2de8597f1b1c92516f8f0c3839d62:e3e85c92be880507f1cb158caf5cc024$</string>
            <key>textureFileName</key>
            <string>drame_resource_瓣散_r小.png</string>
        </dict>
    </dict>
</plist>
