<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>青龙宝箱过光_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
            <key>青龙宝箱过光_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,109}}</string>
                <key>sourceSize</key>
                <string>{128,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_青龙宝箱过光.png</string>
            <key>size</key>
            <string>{1280,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3750c611c8ead146620dc6b1d781592:bf29c3db66b35173fabc3af546c20dad:cfc1b4be96348030c7d5b4c45a0277ff$</string>
            <key>textureFileName</key>
            <string>drame_resource_青龙宝箱过光.png</string>
        </dict>
    </dict>
</plist>
