<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zhi_yu_zhi_feng_3_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,1160},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,1092},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,1024},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,956},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,888},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,820},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,752},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,684},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,616},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,548},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,480},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,412},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,344},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,276},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_38.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,208},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,140},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,72},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>zhi_yu_zhi_feng_3_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>drame_resource_zhi_yu_zhi_feng_3.png</string>
		<key>size</key>
		<string>{62,1241}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:71f00979faedc7573f3f82f91882a193:a1616c84ecfe03185db358fef8363085:7aa7df8a8b0e241c6862351d216c1114$</string>
		<key>textureFileName</key>
		<string>drame_resource_zhi_yu_zhi_feng_3.png</string>
	</dict>
</dict>
</plist>
