<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>惊雷闪序列1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1746},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1358},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1164},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,582},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
            <key>惊雷闪序列1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{79,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,194}}</string>
                <key>sourceSize</key>
                <string>{79,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_惊雷闪序列1.png</string>
            <key>size</key>
            <string>{79,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b27fb7e2ca4b8b650ad14fcfaf780d14:58bc9832cb5c5f7c6e416655ba0a28fc:d3f9ac501c66394f32000c97851c929a$</string>
            <key>textureFileName</key>
            <string>drame_resource_惊雷闪序列1.png</string>
        </dict>
    </dict>
</plist>
