<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>R_止血草_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1394},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1312},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1230},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1148},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1066},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,984},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,902},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>R_止血草_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_R_止血草.png</string>
            <key>size</key>
            <string>{58,1476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb5ff21f192b3af14604c8e93d2b547:98b8638b367edf136c68c68c766407d0:2b67a12beaa6ca6ba5acae604de55a32$</string>
            <key>textureFileName</key>
            <string>drame_resource_R_止血草.png</string>
        </dict>
    </dict>
</plist>
