<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>格挡屏障序列_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>格挡屏障序列_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,106}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_格挡屏障序列.png</string>
            <key>size</key>
            <string>{748,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a0b49f887c019e4785254fc2eee8084:29e97c03d1c535653fbe534f592d0be4:03ac89ae5e49cc22de39096cc57e994d$</string>
            <key>textureFileName</key>
            <string>drame_resource_格挡屏障序列.png</string>
        </dict>
    </dict>
</plist>
