<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>R_牛顶1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,0},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>R_牛顶1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>R_牛顶1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>R_牛顶1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>R_牛顶1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>R_牛顶1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>R_牛顶1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>R_牛顶1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,110}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_R_牛顶1.png</string>
            <key>size</key>
            <string>{1120,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fffc74612d1b74ba1f0c46a6551acc73:0ed2cb0b7ebadd67313d968c65b8fca0:96a520bd8a34d6ed53f8d02427c42b84$</string>
            <key>textureFileName</key>
            <string>drame_resource_R_牛顶1.png</string>
        </dict>
    </dict>
</plist>
