<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>R_鼓舞_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1200},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1100},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>R_鼓舞_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_R_鼓舞.png</string>
            <key>size</key>
            <string>{64,1300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7addfac2c0581ec9eeb9a8adc116c755:b10369bf5d15b5b1481d43cc930d792a:2a09ab945aed630cdd78770759df43dc$</string>
            <key>textureFileName</key>
            <string>drame_resource_R_鼓舞.png</string>
        </dict>
    </dict>
</plist>
