<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>绝对防护_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1380},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1242},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1104},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>绝对防护_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_绝对防护.png</string>
            <key>size</key>
            <string>{128,1518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d78f6384a8750199fea5326bbf080447:a87f4a0d73543ef79376938bd346379f:3edd025afdcb8fcf051f5be887855c0f$</string>
            <key>textureFileName</key>
            <string>drame_resource_绝对防护.png</string>
        </dict>
    </dict>
</plist>
