<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>R_织天羽_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>R_织天羽_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drame_resource_R_织天羽.png</string>
            <key>size</key>
            <string>{1680,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6387efaa4ff34c785ae153285550aae:7104a16aabbfbc0ff17a9ed855dc1c3f:67d3a8ae27a0647f8b47a716d13e383e$</string>
            <key>textureFileName</key>
            <string>drame_resource_R_织天羽.png</string>
        </dict>
    </dict>
</plist>
